@import "tailwindcss";

@theme {
  --font-headline: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-body: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #2a6c2c;
  --color-primary-container: #acf4a4;
  --color-on-primary-container: #1b5e20;
  
  --color-secondary: #00639f;
  --color-secondary-container: #cfe5ff;
  --color-on-secondary-container: #00558a;
  
  --color-tertiary: #705a52;
  --color-tertiary-container: #fadcd2;
  --color-on-tertiary-container: #624d45;
  
  --color-surface: #f9f9f6;
  --color-surface-container: #edeeeb;
  --color-surface-container-low: #f3f4f0;
  --color-surface-container-high: #e6e9e5;
  --color-on-surface: #2f3331;
  --color-on-surface-variant: #5c605d;
  
  --color-error: #aa371c;
  --color-error-container: #fa7150;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

body {
  font-family: var(--font-body);
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

.book-spine-gradient {
  background: linear-gradient(to right, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 10%, rgba(255,255,255,0.1) 15%, rgba(0,0,0,0) 20%);
}
